@font-face {
    font-family: alkatra;
    src: url(./Alkatra-VariableFont_wght.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

main {
    background-image: url(./andreas-weilguny-2uAVyybMrHI-unsplash.jpg);
    height: 100vh;
    background-size: cover;
    font-family: alkatra;
    text-align: center;
    padding: 1%;
}

a {
    margin-top: 70px;
    font-size: clamp(3.5rem, 5.0vw, 8.0rem);
    text-decoration: none;
    color: white;
    line-height: 40px;
}

a:hover {
    color: rgb(216, 216, 216);
    font-size: clamp(3.5rem, 5.2vw, 8.2rem);
}

nav {
    padding-top: 40px;
}