@font-face {
    font-family: alkatra;
    src: url(./Alkatra-VariableFont_wght.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: alkatra;
}

html {
    font-size: 62.5%;
}

header{
    margin: 10px 0 20px 0;
}

nav {
    text-align: right;
}

a {
    color: black;
    text-decoration: none;
    margin-right: 50px;
    font-size: 1.5rem;
}

a:hover {
    color: rgb(40, 40, 40);
    font-size: 1.6rem;
}

section {
    height: 100vh;
    margin-bottom: 52px;
    margin: 0 50px;
}

p {
    font-size: 3.5rem;
    width: 40vw;
}

.first {
    background: url(./capricorn-song-BLYq8Qk8Q98-unsplash.jpg) no-repeat center;
    background-size: cover;
}

h1 {
    width: 30vw;
    font-size: 4rem;
    float: right;
    padding: 20px;
    color: white;
}

h1::first-letter {
    font-size: 6rem;
}

.second {
    background: url(./theodor-lundqvist-WHhbYArwFt8-unsplash.jpg) no-repeat center;
    background-size: cover;
}

.second p {
    margin: 30rem 0 0 50rem;
}

.third {
    background: url(./majkl-velner-nKY59_d9FlA-unsplash.jpg) no-repeat center;
    background-size: cover;
}

.third p {
    float: right;
    color: white;
}

.fourth {
    background: url(./nick-night-7iaqC5LrllQ-unsplash.jpg) no-repeat center;
    background-size: cover;
}

.fourth p {
    margin-left: 150px;
    color: white;
}

footer {
    height: 10vh;
    background-color: rgb(240, 240, 240);
    text-align: center;
}

footer p {
    width: 100vw;
}