@font-face {
    font-family: alkatra;
    src: url(./Alkatra-VariableFont_wght.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: alkatra;
}

html {
    font-size: 62.5%;
}

header{
    margin: 10px 0 20px 0;
}

nav {
    text-align: right;
}

a {
    color: black;
    text-decoration: none;
    margin-right: 50px;
    font-size: 1.5rem;
}

a:hover {
    color: rgb(40, 40, 40);
    font-size: 1.6rem;
}

section {
    height: 340px;
    margin-bottom: 52px;
    margin: auto 50px;
}

.first {
    background-image: url(./capricorn-song-BLYq8Qk8Q98-unsplash.jpg);
    background-size: cover;
}

h1 {
    width: clamp(10rem, 40vw, 30rem);
    font-size: clamp(1.2rem, 2vw, 2.0rem);
    line-height: 15px;
    float: right;
    padding: 20px;
    color: white;
}

h1::first-letter {
    font-size: clamp(10px, 30vw, 30px);
}

.second {
    background-image: url(./theodor-lundqvist-WHhbYArwFt8-unsplash.jpg);
    background-size: cover;
}

.second p {
    width: clamp(10rem, 40vw, 30rem);
    font-size: clamp(1.2rem, 2vw, 2.0rem);
    line-height: 15px;
    float: left;
    padding: 20px;
    font-weight: 700;
}

.third {
    background-image: url(./majkl-velner-nKY59_d9FlA-unsplash.jpg);
    background-size: cover;
}

.third p {
    width: clamp(10rem, 40vw, 50rem);
    font-size: clamp(1.2rem, 2vw, 2.0rem);
    line-height: 15px;
    float: right;
    padding: 270px 10px;
    color: white;
    font-weight: 700;
}

.fourth {
    background-image: url(./nick-night-7iaqC5LrllQ-unsplash.jpg);
    background-size: cover;
}

.fourth p {
    width: clamp(10rem, 50vw, 50rem);
    font-size: clamp(1.2rem, 2vw, 2.0rem);
    line-height: 15px;
    padding: 50px 0;
    margin-left: 150px;
    color: white;
    font-weight: 700;
}

footer {
    height: 10vh;
    background-color: rgb(240, 240, 240);
    text-align: center;
}

footer p {
    width: 100vw;
    padding: 10px 20px;
    font-size: 1.5rem;
}